/* шрифты */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* кнопки */
.button {
    padding: 16px 45px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
}

.button-add-to-favorite {
    background-color: #82b3d3;
}

.button-in-favorite {
    background-color: #7db54f;
}

.button-real-page {
    background-color: #f2f2f2;
    color: #000000;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}

.button-anouther-page {
    background-color: #82b3d3;
    color: #ffffff;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}

.submit-button-search {
    font-size: 20px;
    line-height: 36px;
}

.button-children-info {
    font-size: 16px;
    line-height: 21px;
}

.button-real-page {
    background-color: #f2f2f2;
    color: #000000;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}

.button-anouther-page {
    background-color: #82b3d3;
    color: #ffffff;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}

.subscribe-button {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.button-apply-position {
    display: flex;
    flex-direction: column;
}

/* страницы */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    outline: 5px solid rgba(48, 101, 50, 0.5);
    outline-offset: -5px;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
}

.navigation-logo {
    margin-bottom: -5px;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 500px;
    margin-left: 30px;
    align-items: center;
}

.navigation-user {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-left: auto;
}

.navigation-link-search {
    background-image: url("/images/search.svg");
    background-repeat: no-repeat;
    margin-left: 0;
    width: 42px;
}

.navigation-link-like {
    background-image: url("/images/favorite.svg");
    background-repeat: no-repeat;
    margin-left: 0;
    width: 42px;
}

.favorite {
    color: #ffffff;
    background-color: #7db54f;
    border-radius: 100%;
    font-size: 10px;
    line-height: 13px;
    margin: 0;
    width: 20px;
    height: 20px;
    text-align: center;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.navigation-link-catalog {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    width: 160px;
    margin-left: 20px;
    margin-right: 0;
}

.main-title-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("/images/index-background.jpg"), url("/images/logo_mask.svg");
    background-size: 100% auto;
    background-position: center, bottom;
    background-repeat: no-repeat, no-repeat;
}

/* Маска не подключилась */



.welcome-logo {
    display: block;
    margin: 0 auto;
}

.little-city {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.motivation {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-n1 {
    display: flex;
}

.advantages-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 384px;
}
.advantages-item-offers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}
.advantages-picture {
    width: 800px;
    margin: 0;
}

.advantages-item-discription {
    list-style: none;
    width: 400px;
}
.advantages-title {
    font-size: 24px;
    line-height: 28px;
}

.booking {
    background-color: #ffffff;
    width: 1200px;
}

.booking-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.blue-background {
    background-color: #82b3d3;
    color: #ffffff;
    width: 400px;
    height: 384px;
}

.light-blue-background {
    background-color: rgba(131, 179, 211, 0.12);
}

.midl-blue-background {
    background-color: rgba(131, 179, 211, 0.2)
}
.little-home {
    background-image: url("/images/home.svg");
    background-repeat: no-repeat;
}

.food {
    background-image: url("/images/food.svg");
    background-repeat: no-repeat;
}

.souvenirs {
    background-image: url("/images/souvenirs.svg");
    background-repeat: no-repeat;
}

.date-title {
    font-size: 30px;
    line-height: 36px;
}

.form-date-in {
    font-size: 20px;
    line-height: 26px;
}

.form-date-out {
    font-size: 20px;
    line-height: 26px;
}

.date-form-adults-qty {
    font-size: 20px;
    line-height: 26px;
}

.date-form-children {
    font-size: 20px;
    line-height: 26px;
}

.expired-date {
    font-size: 16px;
    line-height: 21px;
}

.available-free-rooms {
    font-size: 16px;
    line-height: 21px;
}

/* footer */
.footer-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
}

.social-link {
    display: flex;
    justify-content: space-between;
    width: 142px;
    margin-right: auto;
    list-style: none;
}

.html academy {
    width: 115px;
    margin-left: auto;
}

.contacts {
    width: 720px;
    text-align: center;
}

.social-link-vk {
    background-image: url("/images/Vk_icon.svg");
    background-repeat: no-repeat;
}

.social-link-telegram {
    background-image: url("/images/Telegram_icon.svg");
    background-repeat: no-repeat;
}

.social-link-youtube {
    background-image: url("/images/Youtube_icon.svg");
    background-repeat: no-repeat;
}

/* footer */
.visit-date {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.hotel-search {
    font-size: 20px;
    line-height: 36px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.subscribe-index {
    width: 1200px;
    color: #ffffff;
    background-image: url("/images/subscribe_background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-catalog {
    width: 1200px;
    color: #000000;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.subscribe-motivation {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.field {
    display: block;
    margin: 0 auto;
}

.visually-hidden {
    visibility: hidden;
}

.contacts-phone {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

/* catalog */
.sedona-hotels {
    color: #ffffff;
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/images/catalog-background.jpg");
}

/* плашка сортировки гостиниц */
.hotels-shown-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-control {
    margin-left: 191px;
    width: 290px;
}

.hotels-shown {
    font-size: 30px;
    line-height: 36px;
    width: 338px;
    margin: 0;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.hotel-card-link {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.hotel-list {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-left: 18px;
    flex-wrap: wrap;
}

.hotel-card {
    width: 300px;
}

.home-link {
    background-image: url("/images/main_icon.svg"), url("/images/arrow.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hotels-choose-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
}

.navigation-pages {
    display: flex;
}

.navigation-item {
    list-style: none;
}

.advantages-item {
    list-style: none;
}

.link {
    list-style: none;
}

.hotel-card {
    list-style: none;
}

.hotels-of-sedona {
    font-size: 60px;
    line-height: 78px;
}

.hotel-link {
    font-size: 16px;
    line-height: 20px;
}

.hotel-properties {
    font-size: 20px;
    line-height: 26px;
}

.properties-apply {
    width: 160px;
}

.properties-reset {
    background: none;
    font-size: 16px;
    line-height: 20px;
}

.pagination-qty {
    display: flex;
    width: 1056px;
    margin: 0 auto;
}

.pavination-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 0;
}

.site-hotels-shown {
    display: flex;
    align-items: center;
    width: 388px;
    margin-left: 270px;
}

.site-hotels-qty {
    width: 175px;
}

.select-qty {
    width: 160px;
    margin-left: 52px;

}

.hotel-search {
    font-size: 20px;
    line-height: 36px;
}
