@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
/* кнопки */
.button {
    padding: 16px 45px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
}
.button-add-to-favorite {
    background-color: #82b3d3;
}
.button-in-favorite {
    background-color: #7db54f;
}
.button-real-page {
    background-color: #f2f2f2;
    color:#000000;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}
.button-anouther-page {
    background-color: #82b3d3;
    color:#ffffff;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}
.submit-button-search {
    font-size: 20px;
    line-height: 36px;
}
.button-children-info {
    font-size: 16px;
    line-height: 21px;
}
.button-real-page {
    background-color: #f2f2f2;
    color:#000000;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}
.button-anouther-page {
    background-color: #82b3d3;
    color:#ffffff;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    padding: 11.36px 24.55px 12.64px 23.45px;
    border-radius: 4px;
}
/* кнопки */


html{
    height: 100%;
}

приложил скриншот в корень проекта, почему-то флекс ко

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    outline: 5px solid rgba(48, 101, 50, 0.5);
    outline-offset: -5px;
}
.main-container {
    flex-grow: 1;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}
.page-header {
    color: #000000;
    background-color: #ffffff;
}
.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
}
.navigation-list {
    margin: 0;
    padding: 0;
    width: 500px;
  }
.navigation-user{
    margin: 0;
    padding: 0;
    width: 300px;
    margin-left: auto;
}
.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
.navigation-link-catalog {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.main-title-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("/images/index-background.jpg"), url("/images/logo_mask.svg");
    background-size: 100% auto;
    background-position: center, bottom;
    background-repeat: no-repeat, no-repeat;
}
/* Маска не подключилась */



.welcome-logo {
    display: block;
    margin: 0 auto;
}
.little-city {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.motivation{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}


/* Непонятки по переносу, не могу вряд 2 элемента один к другому вставить, та же ситуация и с тремя*/

.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
}
.advantages-n1 {
    display: flex;
}
.advantages-item {
    width: 400px;
}
.advantages-picture {
    width: 800px;
}
/* Непонятки по переносу */

.advantages-title {
    font-size: 24px;
    line-height: 28px;
}
.booking {
    background-color: #ffffff;
    width: 1200px;
}
.booking-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.blue-background {
    background-color: #82b3d3;
    color: #ffffff;
    width: 400px;
}
.light-blue-background {
    background-color: rgba(131, 179, 211, 0.12);
}
.little-home {
    background-image: url("/images/home.svg");
    background-repeat: no-repeat;
}
.food {
    background-image: url("/images/food.svg");
    background-repeat: no-repeat;
}
.souvenirs {
    background-image: url("/images/souvenirs.svg");
    background-repeat: no-repeat;
}
.date-title {
    font-size: 30px;
    line-height: 36px;
}
.form-date-in {
    font-size: 20px;
    line-height: 26px;
}
.form-date-out {
    font-size: 20px;
    line-height: 26px;
}
.date-form-adults-qty{
    font-size: 20px;
    line-height: 26px;
}
.date-form-children{
    font-size: 20px;
    line-height: 26px;
}

.expired-date {
    font-size: 16px;
    line-height: 21px;
}
.available-free-rooms {
    font-size: 16px;
    line-height: 21px;
}

/* footer */
.footer-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
}
.social-link {
    width: 142px;
    margin-right: auto;
}
.html academy {
    width: 115px;
    margin-left: auto;
}
.contacts {
    width: 720px;
    text-align: center;
}
.social-link-vk {
    background-image: url("/images/Vk_icon.svg");
    background-repeat: no-repeat;
}
.social-link-telegram {
    background-image: url("/images/Telegram_icon.svg");
    background-repeat: no-repeat;
}
.social-link-youtube {
    background-image: url("/images/Youtube_icon.svg");
    background-repeat: no-repeat;
}
/* footer */
.visit-date {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.hotel-search {
    font-size: 20px;
    line-height: 36px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}
.subscribe-index {
    width: 1200px;
    color: #ffffff;
    background-image: url("/images/subscribe_background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.subscribe-catalog {
    width: 1200px;
    color: #000000;
}
.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.subscribe-motivation {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.field {
    display: block;
    margin: 0 auto;
}
.subscribe-button {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}
.visually-hidden {
    visibility: hidden;
}
.contacts-phone {
    color:#000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

/* catalog */
.sedona-hotels {
    color: #ffffff;
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/images/catalog-background.jpg");
}
.hotels-shown {
    font-size: 30px;
    line-height: 36px;
}
.hotel-card-title  {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}
.hotel-card-link {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}
/* никак перенос не выходит на следующую строку */
.hotel-list {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 18px;
    flex-wrap: wrap;
}
.hotel-card {
    width: 175px;
}

.home-link {
    background-image: url("/images/main_icon.svg"), url("/images/arrow.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.hotels-choose-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
}
.navigation-pages {
    display: flex;
}
.navigation-item {
    list-style: none;
}

.advantages-item {
    list-style: none;
}
.link {
    list-style: none;
}
.hotel-card {
    list-style: none;
}
.hotels-of-sedona {
    font-size: 60px;
    line-height: 78px;
}
.hotel-link {
    font-size: 16px;
    line-height: 20px;
}
.hotel-properties {
    font-size: 20px;
    line-height: 26px;
}
.properties-reset {
    font-size: 16px;
    line-height: 20px;
}
.pavination-wrapper {
    display: flex;
    justify-content: ;
}
.pagination {
    list-style: none;
    font-size: 20px;
    line-height: 36px;
}
.hotel-search {
    font-size: 20px;
    line-height: 36px;
}
